openapi: 3.1.0
info:
  title: FBI Wanted API
  description: API for retrieving information about the FBI's Wanted program.
  version: 1.0.0
servers:
  - url: https://api.fbi.gov/wanted/v1
paths:
  /list:
    get:
      summary: Retrieve list of FBI wanted individuals
      description: Fetches a list of FBI wanted individuals, with optional filters for field offices and paging.
      parameters:
        - name: field_offices
          in: query
          required: false
          description: Filter by specific FBI field offices (e.g., miami, new-york, los-angeles).
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Specifies the page of results to return (used for pagination).
          schema:
            type: integer
        - name: sort_on
          in: query
          required: false
          description: Specifies the field to sort results by (e.g., title, reward, etc.).
          schema:
            type: string
        - name: sort_order
          in: query
          required: false
          description: Specifies the order of the sorting (asc or desc).
          schema:
            type: string
            enum: [asc, desc]
      responses:
        '200':
          description: Successful response containing the list of FBI wanted individuals.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FBIWantedResponse'
        '400':
          description: Invalid query parameters or bad request.
        '404':
          description: No results found for the given query parameters.
        '500':
          description: Internal server error.
components:
  schemas:
    FBIWantedResponse:
      type: object
      properties:
        total:
          type: integer
          description: Total number of results.
        page:
          type: integer
          description: The current page number.
        items:
          type: array
          description: List of FBI wanted individuals.
          items:
            $ref: '#/components/schemas/FBIWantedItem'
    FBIWantedItem:
      type: object
      properties:
        title:
          type: string
          description: The title of the wanted individual (e.g., their name or alias).
        description:
          type: string
          description: Short description of the individual or the crime.
        reward:
          type: string
          description: Reward amount offered for information.
        url:
          type: string
          description: URL linking to the full FBI wanted details.
        field_offices:
          type: array
          description: List of FBI field offices related to the case.
          items:
            type: string
